In [3]:
data={"A":[1,2,3,4,5],"B":[2,3,4,5,6],"C":[2,6,4,2,7]}

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame(data)

In [5]:
df.to_csv("../data/mydata.csv")

In [8]:
pd.read_csv("../data/mydata.csv")

   Unnamed: 0  A  B  C
0           0  1  2  2
1           1  2  3  6
2           2  3  4  4
3           3  4  5  2
4           4  5  6  7